:root {
  --white: #FFECD1;
  --orange: #FF7D00;
  --sienna: #78290F;
  --blue: #15616D;
  --black: #001524;
  --sans: 'Montserrat', sans-serif;
  --font-size: 1.3rem;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  text-wrap: pretty;
}
*, *::before, *::after {
  box-sizing: inherit;
}

*:focus-visible {
  outline: 3px solid black;
  outline-offset: 0.25rem;
  border-radius: 0.125rem;
  }

body {
margin: 0;
padding: 0;
border: 0;
font-family: var(--sans);
font-size: var(--font-size);
}


h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 1.75;
  font-weight: 500;
  font-size: var(--font-size);
}

h2 {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  font-weight: 300;
}

p {
  margin: 0;
  padding: 0;
  font-weight: 300;
}


input {
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 1em;
  font-size: var(--font-size);
  font-family: var(--sans);
  font-weight: 400;
  line-height: 26px;
  flex: 1;
  width: 100%;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  height: 600px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;

}

main .chat {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  flex-flow: column nowrap;
  background: url(/code/assets/bbblurry_background.svg) no-repeat center center fixed;
}

.input-wrapper form {
  width: 100%;
  display: flex;
  align-items: center;
}

.chat {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  overflow: scroll;
  flex-direction: column;
  padding-bottom: 16px;
}

.bot-msg {
  display: flex;
  margin: 16px 8px 0 0;
  flex-shrink: 0;
}

.user-msg {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0 0 8px;
  flex-shrink: 0;
}


.bubble {
  font-weight: 600;
  font-size: var(--font-size);
  line-height: 26px;
  padding: 16px 24px;
  color: var(--black);
  max-width: 40%;
  border: 1px solid var(--blue);
}

.bot-bubble {
  border-radius: 0px 26px 26px 26px;
  margin-left: 8px;
}

.user-bubble {
  border-radius: 26px 0 26px 26px;
  margin-right: 8px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
}


button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 16px 40px;
  margin-right: 4px;
  font-size: var(--font-size);
  line-height: 26px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  opacity: 0.9;
  transition: all 0.2s ease;
}

/* nav section */

nav {
  padding: 4rem 1rem;
  font-size: 80%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: left;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
  background-color: var(--blue);
  padding: 0.5em;
  border-radius: 5px;
  transition: all 220ms ease-in-out 0s;
  &:hover {
    background-color: var(--orange);
  }
}

/* footer */

footer {
  padding: 4rem 0;
  text-align: center;
}

footer ul {
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

footer p {
  font-size: calc(var(--font-size) /1.5 );
}

footer ul li img {
  width: 80px;
  height: 100%;
}

/* help section */

#help-section {
  display: flex;
  flex-flow: column wrap;
  padding: 0 2rem;
  gap: 1rem;
}

#help-section .text {
  display: block;
}

.logo-img {
  max-height: 100px;
  display: block;
}

/* contact section */

#contact .text {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 2rem 0;
  gap: 1rem;
}

#contact .text a {
  display: flex;
  align-items: center;
  color: var(--blue);
  border-radius: 50%;
  cursor: pointer;
  transition: all 220ms ease-in-out 0s;
  &:hover {
    transform: scale(1.5);
    border: none;
    color: var(--orange);
  };
  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px #333333;
  };
}

#contact .text p {
  font-weight: 500;
}

/* media queries */

@media screen and (min-width: 550px) {
  /* display: flow-root to clear the float */
  #help-section .text {
    display: flow-root;
    max-width: 900px;
  }

  .logo-img {
    float: left;
    shape-outside: polygon(51.74% 2px, 31.75% 104%, 19.35% 108%, -8px -1%);
    max-height: 200px;
  }
}
